header {
  background-color: #ff6f61;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo {
  margin: 10px 0 5px 0;
  height: 60px;
  width: auto;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
}

.auth-btn {
  background-color: white;
  color: #ff6f61;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.auth-btn:hover {
  background-color: #f0f0f0;
}

main {
  flex-grow: 1;
  padding: 40px;
  font-size: 1.2rem;
  background-color: #fff;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
}

footer p:hover {
  color: #ff6f61;
  transition: color 0.3s ease;
}

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Адаптивність */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  main {
    padding: 20px;
    font-size: 1rem;
  }
}
