/* Хедер */
header {
  background-color: #ff6f61;
  color: white;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

/* Основний контент */
main {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #fff;
  width: 80%;
  height: 73vh;                 /* !КОСТЫЛЬ */
  margin: 20px auto 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Футер */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  font-size: 0.9rem;
}

footer p {
  margin: 0;
}

footer p:hover {
  color: #ff6f61;
  transition: color 0.3s ease;
}

/* Адаптивність */
@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }

  main {
    padding: 20px;
    font-size: 1rem;
  }
}
