<header>
  <div class="header-content">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Fashionable Clothing Logo" class="header-logo" />
    </a>

    <div class="auth-controls">
      @if (authService.isAuthenticated()) {
      <button (click)="authService.logout()" class="auth-btn">Вийти</button>
      } @else {
      <a routerLink="/login" class="auth-btn">Увійти</a>
      }
    </div>
  </div>
</header>

<app-toast></app-toast>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>©{{ year }} The best fashion clothing app</p>
</footer>
