html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #f5f5f5;
  color: #333;

  display: flex;
  flex-direction: column;
}

/* Контейнер всього додатку */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
