<div class="details-container">
  @if (item()) {
  <div class="item-header">
    <h1 class="item-title">{{ item()!.name }}</h1>
    <span class="item-category">Категорія: {{ item()!.category }}</span>
  </div>

  <div class="item-main">
    <img [src]="item()!.imageUrl" [alt]="item()!.name" class="item-image" />

    <div class="item-info">
      <p class="item-description">{{ item()!.description }}</p>

      <div class="item-specs">
        @if (item()!.color) {
        <p><strong>Колір:</strong> {{ item()!.color }}</p>
        } @if (item()!.size.length > 0) {
        <p><strong>Доступні розміри:</strong> {{ item()!.size.join(', ') }}</p>
        }
      </div>

      <div class="price-box">
        @if (item()!.originalPrice) {
        <span class="original-price">
          {{ item()!.originalPrice | currency : 'UAH ' : 'symbol' : '1.0-0' }}
        </span>
        <span class="discounted-price">
          {{ item()!.price | currency : 'UAH ' : 'symbol' : '1.0-0' }}
        </span>
        <span class="discount-percent">
          ЗНИЖКА -{{
            ((item()!.originalPrice! - item()!.price) / item()!.originalPrice!) * 100
              | number : '1.0-0'
          }}%
        </span>
        } @else {
        <span class="current-price">
          {{ item()!.price | currency : 'UAH ' : 'symbol' : '1.0-0' }}
        </span>
        }
      </div>

      <button class="add-to-cart-button">Додати в кошик</button>
    </div>
  </div>

  <a class="back-button" routerLink="/items">&#8592; Повернутися до списку</a>

  } @else if (notFound()) {
  <div class="error-container">
    <h1 class="error-message">На жаль, товар не знайдено.</h1>
    <a class="back-button" routerLink="/items">Повернутися до списку</a>
  </div>
  } @else {
  <h1 class="loading-message">Завантаження...</h1>
  }
</div>
